body {
    padding: 0;
    margin: 0;
  }

.sidebar-heading { 
    padding: 1rem; 
    margin-top: 1rem; 
    background-color: #eee; 
    color: #7d7a7a; 
}

.sidebar .nav-link { 
    font-weight: 300; 
    color: #333; 
    position: relative; 
    display: block; 
    padding: .5em 1em; 
    text-decoration: none;
}

#bar {
    height: 150;
}
